{% extends 'store/base.html' %}
{% load custom_filter %}
{% load static %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>

<h3>{{ category.name }}</h3>

    <form id="filter-form" action="" method="GET">
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="filter-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Filters
          </button>
          <div class="dropdown-menu" aria-labelledby="filter-dropdown" style="--bs-dropdown-min-width: 36rem" id="dropdown-menu">
            <div class="catalog-filter px-3">
              <div class="brand-filter" style="flex: 0.75">
                <h4>Brands:</h4>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="brand-search-input" placeholder="Search brand">
                </div>
                {% for brand in category.brands %}
                  <div class="form-check brand-item">
                    <input class="form-check-input" type="checkbox" name="brand" value="{{ brand }}" id="brand-{{ brand }}">
                    <label class="form-check-label" for="brand-{{ brand }}">{{ brand }}</label>
                  </div>
                {% endfor %}
              </div>
              <div class="price-filter">
                <h4>Price Range:</h4>
                <div class="input-group">
                  <input type="text" class="form-control" name="min_price" placeholder="Min Price" data-price="{{category.min_price}}" id="min-price">
                  <span class="input-group-text">—</span>
                  <input type="text" class="form-control" name="max_price" placeholder="Max Price" data-price="{{category.max_price}}" id="max-price">
                  <button type="submit" class="btn btn-primary" id="price-ok-btn">OK</button>
                </div>
                <div id="price-slider"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-auto">
          <select id="sort-select" class="form-select" aria-label="Default select example">
            <option value="expensive">Price: High to Low</option>
            <option value="cheap">Price: Low to High</option>
            <option value="rating">Highest rating</option>
          </select>
        </div>
      </div>
    </form>
        
        <div class="row">

        {% if not page_obj %}
        <div class="col-lg-12">
            <h3>No products found with existing query</h3>
        </div>

        {% else %}
            {% for product in page_obj %}
            <div class="col-lg-4">
                <div class="box-element product-image-container">
                <a href="{% url 'store:product' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}"
                     class="thumbnail">
                </a>
                </div>
                <div class="box-element product">
                    <a class= "product-link" href="{% url 'store:product' product.id %}">
                        <h6 class="product-title"><strong>{{product.name}}</strong></h6>
                    </a>
                    <hr>
                    <div style="height: 25px">
                    <button data-product="{{product.id}}"
                            data-action="add"
                            class="btn btn-light update-cart add-to-cart"
                            style=" float: right">
                            <img
                                src="{% static 'store/images/shopping-cart-add.png' %}"
                                alt="add-to-cart" style="width: 20px; height: 20px">
                    </button>
                    {% if product.total_reviews > 0 %}
                        &nbsp&nbsp{{ product.rating_stars | safe }}
                    {% endif %}
                    <h4 style="display: inline-block; float: left; margin-top: -3px"><strong>{{product.price | currency}}</strong></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example" style="margin-top: 16px">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1{% if params %}&{{ params }}{% endif %}" aria-label="First">
                  <span aria-hidden="true">&laquo;&laquo;</span>
                  <span class="sr-only">First</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if params %}&{{ params }}{% endif %}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true">&laquo;&laquo;</span>
                  <span class="sr-only">First</span>
                </a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if num == page_obj.number %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">{{ num }}</a>
                </li>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}{% if params %}&{{ params }}{% endif %}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if params %}&{{ params }}{% endif %}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if params %}&{{ params }}{% endif %}" aria-label="Last">
                  <span aria-hidden="true">&raquo;&raquo;</span>
                  <span class="sr-only">Last</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true">&raquo;&raquo;</span>
                  <span class="sr-only">Last</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}


    <script src="{% static 'store/js/category_filter.js' %}"></script>
    <script>
      // JavaScript to handle brand search functionality and price slider
      const brandLabels = document.querySelectorAll('.brand-filter .form-check-label');
      const priceSlider = document.getElementById('price-slider');

      // set slider min and max values to the values from url params
      let urlParams = new URLSearchParams(window.location.search);
      let minPrice = urlParams.get('min_price');
      let maxPrice = urlParams.get('max_price');
    
      // Prevent dropdown from closing when clicking on a brand's label
      brandLabels.forEach((label) => {
        label.addEventListener('click', (event) => {
          event.stopPropagation();
        });
      });
    
      // Prevent dropdown from closing when interacting with the price slider
      priceSlider.addEventListener('click', (event) => {
        event.stopPropagation();
      });
    
      // JavaScript to handle brand search functionality
      const brandSearchInput = document.getElementById('brand-search-input');
      const brandItems = document.getElementsByClassName('brand-item');
    
      brandSearchInput.addEventListener('input', function () {
        const searchValue = this.value.toLowerCase();
    
        Array.from(brandItems).forEach(function (item) {
          const brandLabel = item.querySelector('label');
          const brandName = brandLabel.textContent.toLowerCase();
    
          if (brandName.includes(searchValue)) {
            item.style.display = 'block';
          } else {
            item.style.display = 'none';
          }
        });
      });
    
      // JavaScript to handle price range slider
      let minPriceInput = document.querySelector('input[name="min_price"]');
      let maxPriceInput = document.querySelector('input[name="max_price"]');
      let priceSliderInstance = noUiSlider.create(priceSlider, {
        start: [minPrice || {{category.min_price}}, maxPrice || {{category.max_price}}], // Replace with the minimum and maximum price of products in the response's context
        connect: true,
        range: {
          min: {{category.min_price}},
          max: {{category.max_price}},
        },
      });
  
      // Update the price inputs when the slider changes
      priceSliderInstance.on('update', function (values, handle) {
        let minValue = values[0] !== {{category.min_price}} ? parseInt(values[0]) : {{category.min_price}};
        let maxValue = values[1] !== {{category.max_price}} ? parseInt(values[1]) : {{category.max_price}};
    
        minPriceInput.value = minValue !== {{category.min_price}} ? minValue : '';
        maxPriceInput.value = maxValue !== {{category.max_price}} ? maxValue : '';

        minPriceInput.value = minPriceInput.value.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
        maxPriceInput.value = maxPriceInput.value.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
      });

      brandCheckboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function (event) {
          applyFilters();
          toggleDropdownFilter(true);
        });
      });

      filterForm.addEventListener('submit', function (event) {
        event.preventDefault();
        applyPriceFilters();
        toggleDropdownFilter(true);
      });

      let priceOkButton = document.getElementById('price-ok-btn');

    </script>

{% endblock %}