{% extends 'store/base.html' %}
{% load static %}
{% load custom_filter %}


{% block title %}Checkout{% endblock %}

{% block content %}
    <a  class="btn btn-outline-dark" href="{% url 'store:cart' %}">&#x2190; Back to Cart</a>
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="First name..."
                            {% if user.is_authenticated %}
                                value="{{ user.first_name }}">
                            {% else %}
                                >
                            {% endif %}
                        </div>

                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Last name..."
                            {% if user.is_authenticated %}
                                value="{{ user.last_name }}">
                            {% else %}
                                >
                            {% endif %}
                        </div>

                        <div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..."
                            {% if user.is_authenticated %}
                                   value="{{ user.email }}">
                            {% else %}
                                >
                            {% endif %}
						</div>

                        <div class="form-field">
                            <input required class="form-control" type="text" name="phone" placeholder="Phone..."
                            {% if user.is_authenticated %}
                                   value="{{ order.customer.phone }}">
                            {% else %}
                                >
                            {% endif %}
                        </div>

                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p style="margin-left: 10px">Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..."
                            {% if user.is_authenticated %}
                                      value="{{ order.customer.city }}">
                            {% else %}
                                  >
                            {% endif %}
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="np_office" placeholder="Nova Poshta office...">
						</div>
                    </div>


                    <div id="form-button">
                        <hr>
                        <input class="btn btn-success btn-block" type="submit" value="Continue">
                    </div>
                </form>
            </div>

            <br>
			<div class="box-element hidden" id="payment-info">
				<div style="text-align: center">
                    <p>Choose payment method:</p>
                </div>

                <small></small>
				<!--<button id="make-payment">Make payment</button>-->
                <div class="digital-wallets">
                    <div class="wallet">
                        <div class="wallet-btn">
                            <a href="#"><img src="{% static 'store/images/google-pay.png' %}" alt="google_pay"></a>
                        </div>
                    </div>

                    <div class="wallet">
                        <div class="wallet-btn">
                            <a href="#"><img src="{% static 'store/images/apple-pay.png' %}" alt="apple_pay"></a>
                        </div>
                    </div>
                </div>

                <hr>
                <div style="text-align: center;">Or pay via card:</div>
                <hr>

                <div>
                    <form action="#">
                        <input required class="form-control card" type="text" name="card" placeholder="xxxx-xxxx-xxxx-xxx">
                        <br>
                        <input id="payment-button" class="btn btn-success btn-block" value="Make payment">
                    </form>


                </div>
			</div>

        </div>

        <div class="col-lg-6">
            <div class="box-element">
				<h3>Order Summary</h3>
				<hr>
				{% for item in order.orderitem_set.all %}
				<div class="cart-row">
					<div style="flex:1"><img class="row-image" src="{{ item.product.image.url }}"
                                             alt="{{ item.product.name }}"> {{ item.product.name }}</div>
					<div style="flex:1; justify-content: center;">
                        <p style="padding: 16px 0">
                            {{ item.product.price | currency }}
                        </p>
                    </div>
					<div style="flex:1">
                        <p style="padding: 16px 0">
                            {{ item.quantity }}
                        </p>
                    </div>
				</div>
				{% endfor %}
				<h5>Items:   {{ order.total_items }}</h5>
				<h5>Total:   {{ order.total_value | currency }}</h5>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        let shipping = "{{ order.shipping }}"

        if (shipping === "False"){
            document.getElementById("shipping-info").innerHTML = ""
        }

        let form = document.getElementById("form")

        form.addEventListener('submit', function(event){
            event.preventDefault()
            console.log('Form submitted...')
            document.getElementById("form-button").classList.add("hidden")
            document.getElementById("payment-info").classList.remove("hidden")
        })
    </script>

{% endblock %}