{% extends 'store/base.html' %}
{% load static %}
{% load custom_filter %}


{% block title %}Checkout{% endblock %}

{% block content %}
    <a  class="btn btn-outline-dark" href="{% url 'store:cart' %}">&#x2190; Back to Cart</a>
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="first_name" placeholder="First name..."
                            {% if user.is_authenticated %}
                                value="{{ user.first_name }}">
                            {% else %}
                                >
                            {% endif %}
                        </div>

                        <div class="form-field">
                            <input required class="form-control" type="text" name="last_name" placeholder="Last name..."
                            {% if user.is_authenticated %}
                                value="{{ user.last_name }}">
                            {% else %}
                                >
                            {% endif %}
                        </div>

                        <div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..."
                            {% if user.is_authenticated %}
                                   value="{{ user.email }}">
                            {% else %}
                                >
                            {% endif %}
						</div>

                        <div class="form-field">
                            <input required class="form-control" type="text" name="phone" placeholder="Phone..."
                                   pattern="\+380[0-9]{9}" title="Enter a valid phone number (e.g. +380673332211)"
                            {% if user.is_authenticated %}
                                   value="{{ order.customer.phone }}">
                            {% else %}
                                >
                            {% endif %}
                        </div>

                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p style="margin-left: 10px">Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..."
                            {% if user.is_authenticated %}
                                   value="{{ order.customer.city }}">
                            {% else %}
                                  >
                            {% endif %}
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="np_office" placeholder="Nova Poshta office..."
                            {% if user.is_authenticated %}
                                   value="{{ order.customer.np_office }}">
                            {% else %}
                                   >
                            {% endif %}
						</div>
                    </div>


                    <div id="form-button">
                        <hr>
                        <input class="btn btn-success btn-block checkout-btn" type="submit" value="Continue">
                    </div>

                    <div id="edit-form-button" class="hidden">
                        <hr>
                        <button class="btn btn-warning btn-block" type="button">
                            Edit information
                        </button>
                    </div>

                </form>
            </div>

            <br>
			<div class="box-element hidden" id="payment-options">
				<div style="text-align: center">
                    <p>Choose payment method:</p>
                </div>

                <small></small>
				<!--<button id="make-payment">Make payment</button>-->
                <div class="digital-wallets">
                    <div class="wallet">
                        <div class="wallet-btn">
                            <label>
                                <input type="radio" name="payment-option" value="Google Pay">
                                <img src="{% static 'store/images/google-pay.png' %}" alt="Google Pay">
                            </label>
                        </div>
                    </div>

                    <div class="wallet">
                        <div class="wallet-btn">
                            <label>
                                <input type="radio" name="payment-option" value="Apple Pay">
                                <img src="{% static 'store/images/apple-pay.png' %}" alt="Apple Pay">
                            </label>
                        </div>
                    </div>

                    <div class="wallet">
                        <div class="wallet-btn">
                            <label>
                                <input type="radio" name="payment-option" value="Credit card">
                                <img class="credit-card" src="{% static 'store/images/credit-card.png' %}" alt="Credit card">
                            </label>
                        </div>
                    </div>

                    <div class="wallet">
                        <div class="wallet-btn">
                            <label>
                                <input type="radio" name="payment-option" value="Cash">
                                <img class="cash" src="{% static 'store/images/hryvnia.png' %}" alt="Cash">
                            </label>
                        </div>
                    </div>

                </div>

                <hr>

                <div>
                    <button class="btn btn-success btn-block checkout-btn" type="button" id="place-order-btn">
                        <strong>Place order</strong>
                    </button>
                </div>

			</div>

        </div>

        <div class="col-lg-6">
            <div class="box-element">
				<h3>Order Summary</h3>
				<hr>
				{% for item in order.all_items %}

				<div class="cart-row">

                    <div style="flex: .5; display: flex; justify-content: center;">
                    <a href="{% url 'store:product' item.product.id %}" style="text-decoration: none">
                        <img class="row-image" src="{{ item.product.image.url }}"
                             alt="{{ item.product.name }}">
                    </a>
                    </div>


                    <div style="flex:1.5; align-items: center; display: flex; padding-right: 25px; padding-left: 20px ">

                        <a href="{% url 'store:product' item.product.id %}" class= "product-link">
                            {{ item.product.name }}
                        </a>

                    </div>

					<div style="flex:0.6; align-items: center; display: flex">
                            {{ item.product.price | currency }}
                    </div>

					<div style="flex:0.15; align-items: center; display: flex">
                            {{ item.quantity }}
                    </div>
				</div>
				{% endfor %}
                <div style="height: 10px"></div>
				<h5><strong>Items: {{ order.total_items }}</strong></h5>
				<h5><strong>Total: {{ order.total_value | currency }}</strong></h5>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        let shipping = "{{ order.shipping }}"
        let total = "{{ order.total_value }}"

        if (shipping === "False"){
            document.getElementById("shipping-info").innerHTML = ""
        }

        let form = document.getElementById("form")

        let formFields = document.querySelectorAll(".form-field input")
        let editFormBtn = document.getElementById("edit-form-button")

        form.addEventListener('submit', function(event){
            event.preventDefault()
            console.log('Form submitted...')
            document.getElementById("form-button").classList.add("hidden")
            document.getElementById("payment-options").classList.remove("hidden")
            editFormBtn.classList.remove("hidden")
            formFields.forEach(function(field){
                field.setAttribute("disabled", "disabled")
            })

        })

        editFormBtn.addEventListener("click", function(event){
            event.preventDefault()
            console.log('Edit button clicked...')
            document.getElementById("form-button").classList.remove("hidden")
            document.getElementById("payment-options").classList.add("hidden")
            editFormBtn.classList.add("hidden")
            formFields.forEach(function(field){
                field.removeAttribute("disabled")
            })
        })

        let placeOrderBtn = document.getElementById("place-order-btn")

        placeOrderBtn.addEventListener("click", function(event){
            event.preventDefault()
            const paymentOption = document.querySelector("input[name='payment-option']:checked");
            if (paymentOption) {
                console.log('Payment button clicked and payment method is chosen...')

                let userFormData = {
                    "first_name": form.first_name.value,
                    "last_name": form.last_name.value,
                    "email": form.email.value,
                    "phone": form.phone.value,
                    "shipping": shipping,
                    "payment_option": paymentOption.value,
                    "total": total,
                }

                if (shipping === "True") {
                    userFormData["city"] = form.city.value;
                    userFormData["np_office"] = form.np_office.value;
                  }

                let url = "{% url 'store:process_order' %}"
                fetch(url,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({'form': userFormData})
                })


                .then((response) => response.json())

                .then((data) => {

                    if (typeof data === 'object' && data !== null && 'error_user_exists' in data) {
                        let choice = window.confirm(data['error_user_exists'])
                        if (choice){
                            window.location.href = {% url 'store:login' %}
                        } else {
                            location.reload()
                        }

                    }else{
                        console.log('Success:', data);
                        alert('Order placed successfully')

                        cart = {}
                        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

                        window.location.href = {{ redirect_url }}
                    }


                })
            } else {
                alert("Please select payment option")
            }
        })
    </script>

{% endblock %}