{% extends 'store/base.html' %}
{% load custom_filter %}


{% block title %}My orders{% endblock %}

{% block content %}


<div class="" id="customer-orders-container">

    <h1>My orders</h1>
{% if orders %}
		{% for order in orders %}
                <div class="order">
                    <div class="order-header">Order #{{ order.transaction_id }}</div>
                    <div class="order-details">

                        <div>
                            <div class="label">Status:</div>
                            <div>{{ order.status }}</div>
                        </div>

                        <div>
                            <div class="label">Total:</div>
                            <div>{{ order.total_value | currency }}</div>
                        </div>

                        <div>
                            <div class="label">Date Ordered:</div>
                            <div>{{ order.date_ordered }}</div>
                        </div>

                        <div>
                                <div class="product-list">
                                   {% for item in order.get_order_items %}
                                            <a href="{% url 'store:product' item.product.id %}"
                                               style="text-decoration: none">
                                                <img class="product-image" src="{{ item.product.image.url }}"
                                                     alt="{{ item.product.name }}">
                                            </a>
                                   {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
		{% endfor %}
	{% else %}
		<p>No orders found.</p>
	{% endif %}
</div>

{% endblock %}