{% extends 'store/base.html' %}
{% load custom_filter %}
{% load static %}

{% block title %}
    PineApple Store
{% endblock %}

{% block content %}
    <div class="row" style="padding-top: 5px">
        {% for product in products %}
            <div class="col-lg-4">
                <div class="box-element product-image-container">
                <a href="{% url 'store:product' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}"
                     class="thumbnail">
                </a>
                </div>
                <div class="box-element product">

                    <a class= "product-link" href="{% url 'store:product' product.id %}">
                        <h6><strong>{{product.name}}</strong></h6>
                    </a>

                    <hr>
                    <button data-product="{{product.id}}"
                            data-action="add"
                            class="btn btn-light update-cart add-to-cart"
                            style=" float: right">
                            <img
                                src="{% static 'store/images/shopping-cart-add.png' %}"
                                alt="add-to-cart" style="width: 20px; height: 20px">
                    </button>
                    <h4 style="display: inline-block; float: left; margin-top: -3px"><strong>{{product.price | currency}}</strong></h4>
                    <div style="height: 25px"></div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{#<script type="text/javascript">#}
{#    #}
{#    function updateCartAfterLogout() {#}
{#        let cart = {}#}
{#        #}
{#    }#}
{#    #}
{#</script>#}
