{% extends 'store/base.html' %}

{% block title %}
    PineApple Store
{% endblock %}

{% block content %}
<h3>Hi, here will be the homepage of the store.</h3>
    {% for category in categories %}
    <li>
        <a href="{% url 'store:category' category.slug %}">{{ category.name }}</a>
    </li>
    {% endfor %}

    {% if user.is_authenticated %}
         <p>Hi, {{ user.first_name }}!<br><a href="{% url 'store:logout' %}">Log Out</a></p>


    {% else %}
        <p>You are not logged in<br><a href="{% url 'store:login' %}">Sign In</a> or
            <a href="{% url 'store:signup' %}">Sign Up</a>
        </p>
    {% endif %}



{% endblock %}
