{% extends 'store/base.html' %}
{% load custom_filter %}
{% load static %}

{% block title %}
    PineApple Store
{% endblock %}

{% block content %}

    <div class="row">
        {% for category in categories %}
            <div class="col-lg-4">
                <div class="box-element product-image-container">
                    <a href="{% url 'store:category' category.slug %}">
                        <img src="{{ category.image.url }}" alt="{{ category.name }}"
                         class="thumbnail">
                    </a>
                </div>

                <div class="box-element product" style="text-align: center">
                    <a class= "product-link" href="{% url 'store:category' category.slug %}">
                        <h6 class="product-title"><strong>{{category.name}}</strong></h6>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
