{% extends 'store/base.html' %}
{% load custom_filter %}
{% load static %}



{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'store/css/comments.css' %}">


  <div class="product-detail">
    <div class="product-image" >
      <img src="{{ product.get_image_url }}" alt="{{ product.name }}" id="{{ product.image.url }}">
    </div>
    <div class="product-info">
      <h1 class="product-name">{{ product.name }}</h1>
        {% if product.total_reviews > 0 %}
        <span class="review-rating" style="margin-bottom: 20px">
            {{ product.rating_stars | safe }}
            {{ product.average_rating }}/5 ({{ product.total_reviews }} reviews)
        </span>
        {% endif %}
      <p class="product-price">{{ product.price | currency }}</p>
      <p class="product-description">{{ product.description }}</p>
      <p class="product-category">Category:
          <a class="product-link" href="{% url 'store:category' product.category.slug %}">
                    {{ product.category.name }}
          </a>
      </p>

      {% if product.is_in_stock %}
        <p class="product-status in-stock">In stock</p>
          <div class="product-action">
                    <button data-product="{{product.id}}"
                            data-action="add"
                            class="btn btn-light update-cart add-to-cart"
                            style="float: left; height: 50px; width: 50px">
                            <img
                                src="{% static 'store/images/shopping-cart-add.png' %}"
                                alt="add-to-cart" style="width: 20px; height: 20px">
                    </button>
                    <div>
                        <strong style="margin-left: 10px">Add to cart</strong>
                    </div>
            </div>
      {% else %}
        <p class="product-status out-of-stock">Out of stock</p>
      {% endif %}
    </div>
  </div>
  <div class="product-reviews">

<div>
<div class="be-comment-block">
	<h2 class="comments-title">Customer reviews ({{ product.total_reviews }})</h2>

    {% if product.total_reviews > 0 %}
        {% for review in product.all_reviews %}
	<div class="be-comment">
		<div class="be-comment-content">

				<span class="be-comment-name" style="width: 15%">
					{{ review.user.full_name }}
                </span>
                 <span class="review-rating" style="width: 35%">
                    {{ review.rating_stars | safe }}
                 </span>
				<span class="be-comment-time" style="width: 49%">
					<i class="fa fa-clock-o"></i>
					{{ review.created_at|date:"F j, Y" }}
				</span>

			{% if review.comment %}
            <p class="be-comment-text">
				{{ review.comment }}
			</p>
            {% endif %}
		</div>
	</div>
    {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'store:add_review' product.id %}">Add a review</a>
    {% else %}
    <p><a href="{% url 'store:login' %}">Login</a> to add a review.</p>
    {% endif %}
</div>
</div>





{#    {% for review in product.review_set.all %}#}
{#      <div class="review">#}
{#        <div class="review-rating">#}
{#          {{ review.rating_stars | safe }}#}
{#          <span class="rating-display">{{ review.get_rating_display }}</span>#}
{#        </div>#}
{#        <div class="review-comment">#}
{#          <p>{{ review.comment }}</p>#}
{#          <p class="review-author">Reviewed by {{ review.user.full_name }}</p>#}
{#          <p class="review-date">{{ review.created_at|date:"F j, Y" }}</p>#}
{#        </div>#}
{#      </div>#}
{#    {% empty %}#}
{#      <p>No reviews yet.</p>#}
{#    {% endfor %}#}
{#    {% if user.is_authenticated %}#}
{##}
{#    <a href="{% url 'store:add_review' product.id %}">Add a review</a>#}
{#    {% else %}#}
{#    <p><a href="{% url 'store:login' %}">Login</a> to add a review.</p>#}
{#    {% endif %}#}
{#  </div>#}


<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>


<script>
// Get the modal
let modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
let img = document.getElementById('{{ product.image.url }}');
let modalImg = document.getElementById('img01');
let captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
}

// Get the <span> element that closes the modal
let span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>


{% endblock %}