{% extends 'store/base.html' %}
{% load custom_filter %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail">
        <div class="product-image">
            <img class="img-fluid" id="{{ product.image.url }}" src="{{ product.image.url }}" alt={{ product.name }}>
        </div>
        <div class="product-info">
            <div class="product-name">
                <h4>{{ product.name }}</h4>
            </div>
            <div class="product-description">
                <p>{{ product.description }}</p>
            </div>
            <div class="product-price">
                <p>{{ product.price | currency}}</p>
            </div>
            <div class="product-category">
                <p>Category:
                    <a class="product-link" href="{% url 'store:category' product.category.slug %}">
                    {{ product.category.name }}
                    </a>
                </p>
            </div>
            <div class="product-stock">
                <p>Stock: {{ product.stock }} item(s)</p>
            </div>
            <div class="product-action">
                    <button data-product="{{product.id}}"
                            data-action="add"
                            class="btn btn-light update-cart add-to-cart"
                            style="float: left; height: 50px; width: 50px">
                            <img
                                src="{% static 'store/images/shopping-cart-add.png' %}"
                                alt="add-to-cart" style="width: 20px; height: 20px">
                    </button>
                    <div>
                        <strong style="margin-left: 10px">Add to cart</strong>
                    </div>
            </div>
        </div>
    </div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>


<script>
// Get the modal
let modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
let img = document.getElementById('{{ product.image.url }}');
let modalImg = document.getElementById("img01");
let captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
}

// Get the <span> element that closes the modal
let span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>


{% endblock %}