{% load static %}
{% load crispy_forms_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href= "{% static 'store/auth_form/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href= "{% static 'store/auth_form/css/auth_style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">

                                <div style="display: flex">

                                    <div class="col-lg-6" style="margin-right: 10px">
                                        <label for="f_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                        {{ form.first_name }}
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="l_name"></label>
                                        {{ form.last_name }}
                                    </div>

                                </div>

                            </div>

                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {{ form.email }}
                            </div>

                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                                {{ form.phone }}
                            </div>

                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{ form.password2 }}
                            </div>

                            {% if error %}
                                <div class="form-group">
                                    <label for="error"><i class="zmdi zmdi-alert-circle-o" style="color: #cc0000"></i></label>
                                    <div style="margin-left: 30px; color: #cc0000">{{ error }}</div>
                                </div>
                            {% endif %}

                            {% if message %}
                                <div class="form-group">
                                    <label for="message"><i class="zmdi zmdi-info-outline" style="color: lightskyblue"></i></label>
                                    <div style="margin-left: 30px; color: lightskyblue">{{ message }}</div>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'store/auth_form/images/signup-image.jpg'%}" alt="sing up image"></figure>
                        <a href="{% url 'store:login' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'store/auth_form/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'store/auth_form/js/main.js'%}"></script>

    <script>

        // get the phone input field
        const phoneField = document.getElementById('phone');
        const prefix = '+38 ';

        // add event listener for focus on the phone field
        phoneField.addEventListener('focus', function () {
          // if the current value is not starting with the prefix
          if (!phoneField.value.startsWith(prefix)) {
            // set the initial value with the prefix
            phoneField.value = prefix;
          }
        });

        // allow only digits
        phoneField.addEventListener("input", function() {
            let phoneValue = phoneField.value;
            phoneValue = prefix + phoneValue.substring(4, ).replace(/\D/g, '');
            phoneField.value = phoneValue;


            // apply formatting
            if (phoneValue.length > 7) {
            phoneValue = phoneValue.substring(0, 7) + ' ' + phoneValue.substring(7);
            }
            if (phoneValue.length > 11) {
            phoneValue = phoneValue.substring(0, 11) + ' ' + phoneValue.substring(11);
            }
            if (phoneValue.length > 14) {
            phoneValue = phoneValue.substring(0, 14) + ' ' + phoneValue.substring(14);
            }

            // truncate to 17 characters if necessary
            if (phoneValue.length > 17) {
            phoneValue = phoneValue.substring(0, 17);
            }

            phoneField.value = phoneValue;
        })

        // add event listener to change phone number format on submit
        document.getElementById('register-form').addEventListener('submit', function (e) {
            // remove spaces
            phoneField.value = phoneField.value.replace(/\s/g, '');
        });


    </script>



</body>
</html>